<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap core css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Agency styles from template -->
    <link rel="stylesheet" href="/static/css/agency.css">

    
    <title>Picture Frame</title>
</head>
<body id="page-top h-100">
        
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Picture Frame</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Settings</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="wifi">Connecting to Wifi</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="upload">Uploading pictures</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
                
    {% block content %}{% endblock %}
                


    <!-- bootstrap core JS -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/notify.min.js"></script>

    <!-- Agency core JS from template -->
    <script src="/static/js/agency.min.js"></script>

    <!-- Extra scripts manually added -->
    <script>
        $(function() {
            $('#save_settings').click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/save_settings',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                        let directory = response["values"]["directory"];
                        let interval = response["values"]["slide_interval"];
                        let decorations = response["values"]["decorations"];
                        $.notify( "Successfully changed settings", {position: "top right", className: "success"});
                        $('#curr_directory').html('Current directory: ' + directory);
                        if (interval != '') {
                            $('#curr_slide_interval').html('Current image interval: ' + interval);
                        }
                        $('#curr_decorations').html('Decorations are ' + decorations);
                    },
                    error: function(error) {
                        $.notify( error["msg"], {position: "top right", className: "error"});
                    }
                });
            });
        });


        $(function() {
            $('#save_directory').click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/save_img_dir',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        directory = response["directory"];
                        $.notify( "Directory changed to: "+ directory, {position: "top right", className: "success"});
                        $('#curr_directory').html('Current directory: ' + directory);
                    },
                    error: function(error) {
                        $.notify( "Error while changing directory", {position: "top right", className: "error"});
                    }
                });
            });
        });
        $(function() {
            $('#save_interval').click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/slide_interval',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        let interval = response["slide_interval"];
                        $.notify( "Interval changed to: "+ interval+" seconds", {position: "top right", className: "success"});
                        $('#curr_slide_interval').html('Current image interval: ' + interval);
                    },
                    error: function(error) {
                        $.notify( "Error while changing interval", {position: "top right", className: "error"})
                    }
                });
            });
        });
    </script>
</body>
</html>