
{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <form action="/save_img_dir" method="post" name="save_img_dir" role="form">
                <div class="col-md-6 mb-3">
                    <h3>Settings:</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="directory">Directory </label>
                        <select name="directory" class="custom-select">
                            {% for dir in directories %}
                                <option value="{{ dir }}" 
                                {% if (dir == dirTarget) %} selected="selected" {% endif %}
                                >
                                {{ dir }}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-dark" type="button">Save</button>
                    </div>   
                </div>

            </form>
        </div>
        
    </div>
</header>

{% endblock %}





