
{% extends "base.html" %}
{% block content %}

<section id="contact">
    <div class="container">
        <div class="row">

            <form class="text-guide" action="/save_settings" method="post" name="save_settings" role="form">
                <div class="form-group">
                    <label for="directory">Image directory</label>
                    <select name="directory" id="directory" class="custom-select col-sm-12">
                    {% for dir in params["directories"] %}
                        <option value="{{ dir }}" 
                        {% if (dir == params["current_image_dir"]) %} selected="selected" {% endif %}
                        >
                        {{ dir }}
                        </option>
                    {% endfor %}
                    </select>
                    <small id="curr_directory" class="form-text text-muted">
                        Current directory: {{ params["current_image_dir"] }}
                    </small>
                </div>

                <div class="form-group ">
                    <label for="slide_interval">Image slider interval (seconds) </label>
                    <input name="slide_interval" id="slide_interval" type="text" class="form-control" placeholder="{{ params["slide_interval"]}}">
                    <small id="curr_slide_interval" class="form-text text-muted">
                        Current image interval: {{ params["slide_interval"] }}
                    </small>
                </div>

                <div class="form-group">
                    <label for="decorations">Show decorations</label>
                    <select name="decorations" id="decorations" class="custom-select col-sm-12">
                        <option value="True" {% if (params["current_image_dir"] == "yes") %} selected="selected" {% endif %}>
                            yes
                        </option>
                        <option value="False" {% if (params["current_image_dir"] == "no") %} selected="selected" {% endif %}>
                            no
                        </option>
                    </select>
                    <small id="curr_decorations" class="form-text text-muted">
                        Decorations are 
                        {% if (params["decorations"] == "True") %}
                            On
                        {% else %}
                            Off
                        {% endif %}
                    </small>
                </div>
                
                <button type="submit" class="btn btn-primary" id="save_settings" >Save settings</button>
              </form>

        </div>
    </div>
</section>

{% endblock %}





