{% extends "base.html" %}
{% block content %}
<!-- Header -->
<section id="contact">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class="section-heading text-uppercase">Uploading images to your picture frame.</h3>
			</div>
		</div>		
		<div class="row col-lg-12 text-center">
			<p class="text-guide">
                The easiest way to upload pictures to your picture frame is by using an FTP program like FileZilla.
                There is no authentication needed so the only thing you will need is the ip address of the pi ( {% if ip == "0.0.0.0" %} no ip address found {% else %} {{ ip }} {% endif %}).
                You can download FileZilla on their <a href="https://filezilla-project.org/download.php?type=client">website.</a>
            </p>
            
			<p class="text-guide">
                The quickest way to connect is by using the quickconnect bar to establish a connection, which is located at the upper left corner of the window.
			</p>
            <img class="img-fluid rounded mx-auto d-block" src="/static/img/quickconnect-bar.png" alt="Quickconnect bar">
			<p class="text-guide">
                After putting in the frames IP address, press the Quickconnect button and you should get a confirmation looking something like this
            </p>
            <img class="img-fluid rounded mx-auto d-block" src="/static/img/connect-confirmation.png" alt="connection-conformation">
            
            <p class="text-guide">
                    When you have successfully connected you have four panels. the left two are your files and folders, but on the right side you have the files and folders on the picture frame.
                    You can navigate to you image folder on the left side, right click it and choose "Upload". This will upload your folder with all the pictures inside to the picture frame.                    
            </p>
            <img class="img-fluid rounded mx-auto d-block" src="/static/img/folder-viewer.png" alt="Folder viewer">
            <p class="text-guide">
                If you would rather manually create your folder you can do that also. To create a folder on the frame you can right click the root ("/") directory and choose 
                "Create Directory" which will create a new folder. Then you can shoose the images you want to upload and either drag them from left panel to right, or if you prefer, right click and hit upload.
            </p>
            <p class="text-guide">
                    Now to choose your new folder to be shown on the Picture frame head over to <a href="/">settings</a> and choose the correct directory and hit save.
            </p>
			<img class="img-fluid rounded mx-auto d-block" src="/static/img/folder-selection.png" alt="folder selection">
		</div>
		
	</div>
</section>
{% endblock %}